[[!meta title="Debian, Ubuntu, or Mint"]]

[[!meta stylesheet="bootstrap.min" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/assistant" rel="stylesheet" title=""]]

[[!inline pages="install/inc/tails-installation-assistant.inline" raw="yes"]]

<div id="back">[[Back|install/os]]</div>

<h1 class="text-center"><strong>Debian</strong>, <strong>Ubuntu</strong>, or <strong>Mint</strong></h1>

<div id="scenarios" class="row">
  <div class="col-md-6">

    [[!inline pages="install/inc/router/clone" raw="yes"]]

    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Install from another Tails</h3>
        </div>
      </div>
    |install/debian/clone/overview]]

  </div>
  <div class="col-md-6">

    <h3>Download and install</h3>

    <h4>You need:</h4>

    <ul>
      <li>1 USB stick <small>(at least 4 GB)</small></li>
      <li>1 hour to download Tails (<small class="remove-extra-space">[[!inline pages="inc/stable_i386_iso_size" raw="yes"]]</small>)</li>
      <li>½ hour to install</li>
    </ul>

    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Install from Debian, Ubuntu, or Mint</h3>
        </div>
      </div>
    |debian/usb/overview]]

    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title two-lines"><small>Install from Debian, Ubuntu, or Mint using<br />the</small> command line <small>and</small> GnuPG</h3>
        </div>
      </div>
    |expert/usb/overview]]

  </div>
</div>

<div class="row also">
  <div class="col-sm-4 col-sm-offset-8">

    You can also:
    <ul>
      <li>[[Burn Tails on a DVD|dvd]]</li>
      <li>[[Run Tails in a virtual machine|vm]]</li>
    </ul>

  </div>
</div>
