<h1 id="download-verify">Download and verify the Tails ISO image</h1>

<div class="step-image">[[!img install/inc/infography/download-and-verify.png link="no" alt=""]]</div>

<p>
<span class="windows mac-usb mac-dvd debian linux upgrade-tails dvd vm">In this step you</span>
<span class="download-only">You</span>
will download Tails as an ISO image: a single file containing the whole operating system.
For your security, it is very important to also verify your download. We propose you
two techniques to do this verification automatically.</p>

<div id="dave-init">
  [[!img lib/spinner.png link="no" alt=""]]<br />
  <p>Please wait…</p>
</div>

<div id="download-and-verify" class="chrome-unsupported">
  <div id="extension-version">0.2.8</div>

  <div id="undetected-browser">
    <p>We failed to detect your browser vendor, maybe because JavaScript is disabled.</p>
    <p>You can download and verify the ISO image via:</p>
    <div class="row download-options">
      <div class="col-md-6 extension">
        <h2>Browser add-on</h2>
        <p>for <a href="https://getfirefox.com">Firefox <span class="minver-firefox">38.0.1</span>+</a> or
           <a href="https://www.torproject.org/download/download-easy.html.en">Tor Browser <span class="minver-tor">5</span>+</a></p>
	<p>A Firefox add-on to download and verify Tails automatically.</p>
        <p><strong>If you are not in Firefox or Tor Browser:</strong></p>
        <p>Copy and paste this link in Firefox or Tor Browser:</p>
        <p>
          <span class="windows"><code>https://tails.boum.org/install/win/usb/</code></span>
          <span class="mac-usb"><code>https://tails.boum.org/install/mac/usb/</code></span>
          <span class="mac-dvd"><code>https://tails.boum.org/install/mac/dvd/</code></span>
          <span class="debian"><code>https://tails.boum.org/install/debian/usb/</code></span>
          <span class="linux"><code>https://tails.boum.org/install/linux/usb/</code></span>
          <span class="upgrade-tails"><code>https://tails.boum.org/upgrade/tails/</code></span>
          <span class="dvd"><code>https://tails.boum.org/install/dvd/</code></span>
          <span class="vm"><code>https://tails.boum.org/install/vm/</code></span>
          <span class="download-only"><code>https://tails.boum.org/install/download/</code></span>
        </p>
        <p><strong>If you are already in Firefox or Tor Browser:</strong></p>
        <a href="https://addons.mozilla.org/firefox/downloads/latest/673020/addon-673020-latest.xpi" class="btn btn-lg btn-primary browser-override">Install Firefox add-on</a>
      </div>
      <div class="col-md-6 bittorrent">
        <h2>BitTorrent</h2>

        [[!inline pages="install/inc/steps/bittorrent_verification.inline" raw="yes"]]

        <a href='[[!inline pages="inc/stable_i386_torrent_url" raw="yes"]]' class="btn btn-lg btn-primary">Download Torrent file</a>
      </div>
    </div>
    <p class="direct-download">[[Download and verify using OpenPGP|install/download/openpgp]]</p>
  </div>

  <div id="unsupported-browser">
    <p>You seem to be using an unsupported browser.</p>
    <p>You can download and verify the ISO image via:</p>
    <div class="row download-options">
      <div class="col-md-6 extension">
        <h2>Browser add-on</h2>
        <p>for <a href="https://getfirefox.com">Firefox <span class="minver-firefox">38.0.1</span>+</a> or
           <a href="https://www.torproject.org/download/download-easy.html.en">Tor Browser <span class="minver-tor">5</span>+</a></p>
        <p>A Firefox add-on to download and verify Tails automatically.</p>
        <p id="unsupported-firefox">You are running Firefox <span class="current-firefox">1.0</span>.
        Please update to Firefox <span class="minver-firefox">38.0.1</span>, Tor Browser <span class="minver-tor">5</span>, or newer and visit this link:</p>
        <p id="unsupported-other">Copy and paste this link in Firefox or Tor Browser:</p>
        <span class="windows"><code>https://tails.boum.org/install/win/usb/</code></span>
        <span class="mac-usb"><code>https://tails.boum.org/install/mac/usb/</code></span>
        <span class="mac-dvd"><code>https://tails.boum.org/install/mac/dvd/</code></span>
        <span class="debian"><code>https://tails.boum.org/install/debian/usb/</code></span>
        <span class="linux"><code>https://tails.boum.org/install/linux/usb/</code></span>
        <span class="upgrade-tails"><code>https://tails.boum.org/upgrade/tails/</code></span>
        <span class="dvd"><code>https://tails.boum.org/install/dvd/</code></span>
        <span class="vm"><code>https://tails.boum.org/install/vm/</code></span>
        <span class="download-only"><code>https://tails.boum.org/install/download/</code></span>
      </div>
      <div class="col-md-6 bittorrent">
        <h2>BitTorrent</h2>

        [[!inline pages="install/inc/steps/bittorrent_verification.inline" raw="yes"]]

        <a href='[[!inline pages="inc/stable_i386_torrent_url" raw="yes"]]' class="btn btn-lg btn-primary">Download Torrent file</a>
      </div>
    </div>
    <p class="direct-download">[[Download and verify using OpenPGP|install/download/openpgp]]</p>
  </div>

  <div id="supported-browser">
    <div id="use">
      <p>We detected that you are running Firefox or Tor Browser and already have our Firefox add-on installed.</p>
      <a id="use-button" href="" class="btn btn-lg btn-primary clearfix">
        <span id="use-button-label" class="pull-left">Use Firefox add-on</span>
        <div id="use-button-state" class="pull-right">
          <span class="label label-default state already">Already installed</span>
        </div>
      </a>
      <div id="use-text" class="btn btn-lg disabled clearfix">
        <span id="use-text-label" class="pull-left">Use Firefox add-on</span>
        <div id="use-text-state" class="pull-right">
          <span class="state done">[[!img install/inc/icons/check.png link="no" alt="Done"]]</span>
        </div>
      </div>
    </div>
    <div id="update">
      <p>We detected that you are running Firefox or Tor Browser but have an outdated version of our Firefox add-on.</p>
      <a id="update-button" href="https://addons.mozilla.org/firefox/downloads/latest/673020/addon-673020-latest.xpi" class="btn btn-lg btn-primary clearfix">
        <span id="update-button-label" class="pull-left">Update Firefox add-on</span>
        <div id="update-state" class="pull-right">
          <span class="label label-default state restartless">No restart</span>
        </div>
      </a>
      <div id="update-text" class="btn btn-lg disabled clearfix">
        <span id="update-button-label" class="pull-left">Update Firefox add-on</span>
        <div id="update-text-state" class="pull-right">
          <span class="state done">[[!img install/inc/icons/check.png link="no" alt="Done"]]</span>
        </div>
      </div>
    </div>
    <div id="install">
      <p>We detected that you are running Firefox or Tor Browser.</p>
      <p>You can download the ISO image via our Firefox add-on. The add-on
      verifies your download [[!toggle id="extension-verification" text="automatically"]].</p>

      [[!toggleable id="extension-verification" text="""
      [[!toggle id="extension-verification" text="X"]]
      <p>The verification is based on a cryptographic checksum downloaded from our website.</p>
      """]]

      <a id="install-button" href="https://addons.mozilla.org/firefox/downloads/latest/673020/addon-673020-latest.xpi" class="btn btn-lg btn-primary clearfix">
        <span id="install-button-label" class="pull-left">Install Firefox add-on</span>
        <div id="install-button-state" class="pull-right">
          <span class="label label-default state restartless">No restart</span>
        </div>
      </a>
      <div id="install-text" class="btn btn-lg disabled clearfix">
        <span id="install-text-label" class="pull-left">Install Firefox add-on</span>
        <div id="install-text-state" class="pull-right">
          <span class="state done">[[!img install/inc/icons/check.png link="no" alt="Done"]]</span>
        </div>
      </div>
    </div>

    <div id="download-minor">
    <p>or [[!toggle id="bittorrent-verification" text="Download and verify via BitTorrent"]]</p>

    [[!toggleable id="bittorrent-verification" text="""
    [[!toggle id="bittorrent-verification" text="X"]]

    [[!inline pages="install/inc/steps/bittorrent_verification.inline" raw="yes"]]

    <p><a href='[[!inline pages="inc/stable_i386_torrent_url" raw="yes"]]'>Download Torrent file</a></p>
    """]]
    </div>

    <div id="download-minor">
    <p>or [[Download and verify using OpenPGP|install/download/openpgp]]</p>
    </div>

  </div>

  <div id="download">
    <a id="download-button" href='[[!inline pages="inc/stable_i386_iso_url" raw="yes"]]' class="btn btn-lg btn-primary clearfix iso-url use-mirror-pool">
      <span id="download-button-label" class="pull-left">Download Tails <span class="iso-version">[[!inline pages="inc/stable_i386_version" raw="yes"]]</span> ISO image
        <small id="download-button-size">(<span class="iso-size-MiB">$SIZE</span> MiB)</small>
      </span>
    </a>
    <div id="download-text" class="btn-lg clearfix">
  <div id="download-text-left" class="pull-left clearfix">
      <div id="download-text-label" class="pull-left">Download Tails <span class="iso-version">[[!inline pages="inc/stable_i386_version" raw="yes"]]</span> ISO image
      <small id="download-eta">
        <span class="speed-KBs">$SPEED</span> KB/s &mdash; <span class="downloaded-MiB">$DOWNLOADED</span>/<span class="iso-size-MiB">$SIZE</span> MiB,
        <span data-value="???">
          <span class="eta-mins">???</span>
          <span class="plural">minutes</span>
          <span class="singular">minute</span>
        </span>
        <span data-value="???">
          <span class="eta-secs">???</span>
          <span class="plural">seconds</span>
          <span class="singular">second</span>
        </span>
      </small>
      </div>
      <div id="download-progress" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="$PROGRESS" aria-valuemin="0" aria-valuemax="100" style="width: $PROGRESS">
          <span class="sr-only"><span class="progress-label">$PROGRESS</span> complete</span>
          <span class="progress-label">$PROGRESS</span>
        </div>
      </div>
      <small id="download-path">Downloading to <span class="download-path">$PATH</span></small>
      <small id="downloaded-path">Downloaded to <span class="verify-file-path">$PATH</span></small>

  </div>
  <div id="download-button-state" class="pull-right">
    <a id="download-button-state-retry" href="#" class="btn btn-primary iso-url">Retry</a>
    <span id="download-button-state-pause" class="">[[!img install/inc/icons/pause.png link="no" alt="Pause"]]</span>
    <span id="download-button-state-resume" class="">[[!img install/inc/icons/play.png link="no" alt="Resume"]]</span>
    <span id="download-button-state-cancel" class="btn btn-link">Cancel</span>
  </div>
      <div id="download-text-state" class="pull-right">
        <span id='download-text-pause'>
  </span>
        <span id ="download-text-done" class="state done">[[!img install/inc/icons/check.png link="no" alt="Done"]]</span>
        <span id ="download-text-failed" class="state">[[!img install/inc/icons/failed.png link="no" alt="Failed"]]</span>
      </div>
    </div>
    <div id="download-message">
      <div id="download-message-paused">
        <p>The download has been paused. Click on the play button to resume.</p>
      </div>
      <div id="download-message-failed" class="caution">
        <p>The download of the ISO image failed! Please check your network connection and click <span class="guilabel">Retry</span>…</p>
      </div>
    </div>
  </div>

  <div id="verify">
    <div id="verify-text" class="btn-lg clearfix">
      <div class="pull-left">
        <div id="verify-text-label">Verify ISO image</div>
          <small id="verify-text-calculating">Computing SHA-256 checksum&hellip;</small>
        </div>
      <div id="verify-text-state" class="pull-right">
        <span id="verify-text-state-calculating" class="state calculating label label-info"><span class="verify-progress">$PROGRESS</span></span>
        <span id="verify-text-state-done" class="state success done">[[!img install/inc/icons/check.png link="no" alt="Done"]]</span>
        <span id="verify-text-state-failed" class="state failed">[[!img install/inc/icons/failed.png link="no" alt="Failed"]]</span>
      </div>
    </div>
    <div id="verify-text-success" class="bg-success">
      <div class="trophy">
        <p>You downloaded and verified the ISO image successfully!</p>
        <p class="windows mac-usb mac-dvd debian linux upgrade-tails dvd vm">You can now continue with the next step and
          <span class="windows">[[Install an intermediary Tails|install/win/usb#next]].</span>
          <span class="mac-usb">[[Install an intermediary Tails|install/mac/usb#next]].</span>
          <span class="mac-dvd">[[Burn a Tails DVD|install/mac/dvd#next]].</span>
          <span class="debian">[[Install <span class="application">Tails Installer</span>|install/debian/usb#next]].</span>
          <span class="linux">[[Install an intermediary Tails|install/linux/usb#next]].</span>
          <span class="upgrade-tails">[[Install an intermediary Tails|upgrade/tails#next]].</span>
          <span class="dvd">[[Burn Tails on a DVD|install/dvd#next]].</span>
          <span class="vm">read our [[Introduction to virtual machines|install/vm#next]].</span>
        </p>

        <div id="openpgp">
        <p>If you are knowledgeable about OpenPGP, you can do additional verification using the
        [[!toggle id="openpgp" text="OpenPGP signature"]].</p>

        [[!toggleable id="openpgp" text="""
        <ul>
          <li><a href='[[!inline pages="inc/stable_i386_iso_sig_url" raw="yes"]]'>Download the OpenPGP signature</a></li>
          <li>[[Download the Tails signing key|tails-signing.key]]</li>
          <li>[[Learn how to do this|install/download/openpgp]]</li>
        </ul>
        """]]
        </div>

      </div>
      <p><a href="" id="download-button-state-cancel" class="download-again">Download again</a></p>
    </div>

    <div id="verify-text-failure" class="caution">
      <p>The verification of the ISO image failed! Please try to download again&hellip;</p>
      <p><a href="" id="download-button-state-cancel" class="download-again">Download again</a></p>
    </div>
    <div id="verify-text-failure-again" class="caution">
      <p>The verification of the ISO image failed again! Please try to download again from a different place or a different computer&hellip;</p>
      <p><a href="" id="download-button-state-cancel" class="download-again">Download again</a></p>
    </div>
  </div>
</div>

<a id="next"></a>
